<!-- Footer -->
<footer class="page-footer font-small indigo">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-4 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Useful Links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="/about-us">About Us</a>
          </li>
          <li>
            <a href="/contact-us">Contact Us</a>
          </li>
          <li>
            <a href="/contact-us">Suggestions?</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-4 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Follow Us</h5>
        <ul class="list-unstyled">
          <li>
            <div class="elfsight-app-29823445-1040-4443-9a34-cfe18b9bc30b"></div>
          </li>
        </ul>
      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-4 mx-auto">
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Calculator List</h5>
        <!-- Links -->
        <ul class="list-unstyled">
          <li><a href="/math-calculators">Math</a></li>
          <li><a href="/finance-calculators">Finance</a></li>
          <li> <a href="/education-calculators">Education</a></li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© <%= new Date().getFullYear(); %>  Copyright:
    <a href="#">www.calculator.com</a>
    <p>All rights reserved</p>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
</body>
</html>