<%-include("partials/header") -%>
<br/>
<h1 class = "text-center">About Us</h1>
<br/>
<p>Hi there, thanks for checking out my website! My name is John Tasci and I'm 15 years old. I hope
   some day I will be able to create much better websites and provide more value to people! Well then
   the title should be, "About Me" haha, but "About Us" sounds much better. If you're looking to connect
   then here is my email. Also check out my <strong>social media accounts</strong> down below in the footer
   and shoot me a dm. I would love to talk with you!
</p>
<p>Contact Info: <strong>johntasci1@gmail.com</strong></p>
<p>Or you can contact me here:</p>
<a href = "/contact-us">Contact Us</a>
<p></p>
<%-include("partials/footer") -%>
