<%- include("partials/header") -%>
<div id = "mathTopLayer" class = "container-fluid">
    <h1 class="text-white topLayerText" >Welcome to Finance Calculators</h1>
   <br/>
    <p  class="text-white topLayerText" >All the finance calculators you need</p>
</div>
<br/>
<br/>
<!-- First Row -->
<div style = "text-align: center" class ="card-group">
  <!-- Add hover in the future -->
    <div onclick="location.href='/stock-return-calculator';" class="card">
        <br/>
        <img src="images/stockUp.png" class="card-img-top mx-auto" alt="calculator">
      <div class="card-body">
        <h5 class="card-title">Stock Return Calculator</h5>
        <a class="btn btn-primary" href="/stock-return-calculator" role="button">Get Profit!</a>
    </div>
    </div>
    <div onclick="location.href='/mortgage-payment-calculator';" class="card">
      <br/>
      <img src="images/mortgage.png" class="card-img-top mx-auto" alt="...">
      <div class="card-body">
        <h5 class="card-title">Mortgage Calculator</h5>
        <a class="btn btn-primary" href="/mortgage-payment-calculator" role="button">Mortgage!</a>
      </div>
    </div>
    <div onclick="location.href='/simple-loan-calculator';" class="card">
      <br/>
      <img src="images/simpleloan.png" class="card-img-top mx-auto" alt="...">
      <div class="card-body">
        <h5 class="card-title">Simple Loan</h5>
        <a class="btn btn-primary" href="/simple-loan-calculator" role="button">Simple Loan!</a>
    </div>
    </div>
  </div>
  <!-- Second Row -->
<div style = "text-align: center" class ="card-group">
  <!-- Add hover in the future -->
    <div onclick="location.href='/simple-auto-loan-calculator';" class="card">
        <br/>
        <img src="images/car.png" class="card-img-top shapes mx-auto" alt="calculator">
      <div class="card-body">
        <h5 class="card-title">Auto Loan Calculator</h5>
        <a class="btn btn-primary" href="/simple-auto-loan-calculator" role="button">Auto Loan!</a>
    </div>
    </div>
    <div onclick="location.href='/auto-loan-calculator';" class="card">
      <br/>
      <img src="images/buggati.png.jpg" class="shapes card-img-top mx-auto" alt="...">
      <div class="card-body">
        <h5 class="card-title">Advanced Auto Loan Calculator</h5>
        <a class="btn btn-primary" href="/auto-loan-calculator" role="button">Advanced Auto Loan!</a>
      </div>
    </div>
    <div onclick="location.href='/simple-interest-calculator';" class="card">
<br/>
      <img src="images/money.jpg" class="shapes card-img-top mx-auto" alt="...">
      <div class="card-body">
        <h5 class="card-title">Simple Interest</h5>
        <a class="btn btn-primary" href="/simple-interest-calculator" role="button">Simple Interest!</a>
    </div>
    </div>
  </div>
    <!-- Third Row -->
<div style = "text-align: center" class ="card-group">
  <!-- Add hover in the future -->
    <div onclick="location.href='/margin-calculator';" class="card">
      <br/>
        <img src="images/profit.png" class="card-img-top shapes mx-auto" alt="calculator">
      <div class="card-body">
        <h5 class="card-title">Margin Calculator</h5>
        <a class="btn btn-primary" href="/margin-calculator" role="button">Margin!</a>
    </div>
    </div>
    <div onclick="location.href='/markup-calculator';" class="card">
      <br/>
      <img src="images/markup.png" class="card-img-top mx-auto" alt="...">
      <div class="card-body">
        <h5 class="card-title">Markup Calculator</h5>
        <a class="btn btn-primary" href="/markup-calculator" role="button">Markup!</a>
      </div>
    </div>
    <div onclick="location.href='/price-calculator';" class="card">
      <img src="images/price.png" class="shapes card-img-top mx-auto" alt="...">
      <div class="card-body">
        <h5 class="card-title">Price Calculator</h5>
        <a class="btn btn-primary" href="/price-calculator" role="button">Price!</a>
    </div>
    </div>
  </div>
      <!-- Fourth Row -->
<div style = "text-align: center" class ="card-group">
  <!-- Add hover in the future -->
    <div onclick="location.href='/profit-calculator';" class="card">
      <br/>
      <br/>
        <img src="images/profit2.png" class="card-img-top shapes mx-auto" alt="calculator">
      <div class="card-body">
        <h5 class="card-title">Profit Calculator</h5>
        <a class="btn btn-primary" href="/profit-calculator" role="button">Profit!</a>
    </div>
    </div>
    <div onclick="location.href='/break-even-calculator';" class="card">
      <br/>
      <img src="images/breakeven.png" class="shapes card-img-top mx-auto" alt="...">
      <div class="card-body">
        <h5 class="card-title">Break Even Calculator</h5>
        <a class="btn btn-primary" href="/break-even-calculator" role="button">Break Even!</a>
      </div>
    </div>
    <div onclick="location.href='/profit-margin-calculator';" class="card">
      <br/>
      <img src="images/profitMargin.png" class=" card-img-top mx-auto" alt="...">
      <div class="card-body">
        <h5 class="card-title">Profit Margin Calculator</h5>
        <a class="btn btn-primary" href="/profit-margin-calculator" role="button">Profit Margin!</a>
    </div>
    </div>
  </div>
  <!-- Fifth Row -->
<div style = "text-align: center" class ="card-group">
  <!-- Add hover in the future -->
    <div onclick="location.href='/sale-price-calculator';" class="card">
      <br/>
        <img src="images/salePrice.png" class="card-img-top shapes mx-auto" alt="calculator">
      <div class="card-body">
        <h5 class="card-title">Sale Price Calculator</h5>
        <a class="btn btn-primary" href="/sale-price-calculator" role="button">Sale Price!</a>
    </div>
    </div>
    <div onclick="location.href='/selling-profit-calculator';" class="card">
      <br/>
      <img src="images/profit3.png" class="shapes card-img-top mx-auto" alt="...">
      <div class="card-body">
        <h5 class="card-title">Advanced Selling Profit Calculator</h5>
        <a class="btn btn-primary" href="/selling-profit-calculator" role="button">Profit!</a>
      </div>
    </div>
    <div onclick="location.href='/selling-discount-profit-calculator';" class="card">
      <img src="images/discountProfit.png" style = "width: 155px; height: auto" class="card-img-top mx-auto" alt="...">
      <div class="card-body">
        <h5 class="card-title">Advanced Discount Price Profit Calculator</h5>
        <a class="btn btn-primary" href="/selling-discount-profit-calculator" role="button">Discounted Profit!</a>
    </div>
    </div>
  </div>
    <!-- Six Row -->
<div style = "text-align: center" class ="card-group">
  <!-- Add hover in the future -->
    <div onclick="location.href='/discount-price-calculator';" class="card">
      <br/>
        <img src="images/discount.png" class="card-img-top shapes mx-auto" alt="calculator">
      <div class="card-body">
        <h5 class="card-title">Discount Calculator</h5>
        <a class="btn btn-primary" href="/discount-price-calculator" role="button">Discount!</a>
    </div>
    </div>
    <div onclick="location.href='/sales-tax-calculator';" class="card">
      <br/>
      <img src="images/salesTax.png" style = "width: 250px; height: auto" class="card-img-top mx-auto" alt="...">
      <div class="card-body">
        <h5 class="card-title">Sales Tax Calculator</h5>
        <a class="btn btn-primary" href="/sales-tax-calculator" role="button">Sales Tax!</a>
      </div>
    </div>
    <div onclick="location.href='/state-and-local-tax-calculator';" class="card">
      <br/>
      <img src="images/stateTax.png" style = "width: 155px; height: auto" class="card-img-top mx-auto" alt="...">
      <div class="card-body">
        <h5 class="card-title">State and Local Tax Calculator</h5>
        <a class="btn btn-primary" href="/state-and-local-tax-calculator" role="button">State and Local Tax!</a>
    </div>
    </div>
  </div>
    <!-- Seventh Row -->
<div style = "text-align: center" class ="card-group">
  <!-- Add hover in the future -->
    <div onclick="location.href='/ebay-fee-calculator';" class="card">
      <br/>
        <img src="images/ebay.png" style = "height: 150px" class="card-img-top shapes mx-auto" alt="calculator">
      <div class="card-body">
        <h5 class="card-title">Ebay Fee and Profit Calculator</h5>
        <a class="btn btn-primary" href="/ebay-fee-calculator" role="button">Ebay!</a>
    </div>
    </div>
    <div onclick="location.href='/paypal-fee-calculator';" class="card">
      <br/>
      <img src="images/paypal.png" class="card-img-top mx-auto" alt="...">
      <div class="card-body">
        <h5 class="card-title">Paypal Fee and Profit Calculator</h5>
        <a class="btn btn-primary" href="/paypal-fee-calculator" role="button">Paypal!</a>
      </div>
    </div>
    <div onclick="location.href='/units-production-depreciation-calculator';" class="card">
      <br/>
      <br/>
      <img src="images/unitsproductiondepreciation.png" class="shapes card-img-top mx-auto" alt="...">
      <div class="card-body">
        <h5 class="card-title">Units of Production Depreciation Calculator</h5>
        <a class="btn btn-primary" href="/units-production-depreciation-calculator" role="button">State and Local Tax!</a>
    </div>
    </div>
  </div>
  <!-- Seventh Row -->
<div style = "text-align: center" class ="card-group">
  <!-- Add hover in the future -->
    <div onclick="location.href='/compound-interest-calculator';" class="card">
      <br/>
        <img src="images/compound.png" style = "height: 150px" class="card-img-top shapes mx-auto" alt="calculator">
      <div class="card-body">
        <h5 class="card-title">Compound Interest</h5>
        <a class="btn btn-primary" href="/compound-interest-calculator" role="button">Compound!</a>
    </div>
    </div>
    <div onclick="location.href='/rule-of-72-calculator';" class="card">
      <br/>
      <img src="/images/ruleof72jpeg.jpeg" class="shapes card-img-top mx-auto" alt="...">
      <div class="card-body">
        <h5 class="card-title">Rule of 72 Calculator</h5>
        <a class="btn btn-primary" href="/rule-of-72-calculator" role="button">Rule of 72!</a>
      </div>
    </div>
    <div onclick="location.href='/sales-calculator';" class="card">
      <br/>
      <br/>
      <img src="/images/sales.jpg" class="shapes card-img-top mx-auto" alt="...">
      <div class="card-body">
        <h5 class="card-title">Sales Calculator</h5>
        <a class="btn btn-primary" href="/sales-calculator" role="button">Sales Calculator!</a>
    </div>
    </div>
  </div>
    <!-- Eight Row -->
<div style = "text-align: center" class ="card-group">
  <!-- Add hover in the future -->
    <div onclick="location.href='/savings-calculator';" class="card">
      <br/>
        <img src="images/bank.jpg" class="card-img-top shapes mx-auto" alt="calculator">
      <div class="card-body">
        <h5 class="card-title">Savings Calculator</h5>
        <a class="btn btn-primary" href="/savings-calculator" role="button">Savings!</a>
    </div>
    </div>
    <div onclick="location.href='/activity-depreciation-calculator';" class="card">
      <br/>
      <img src="/images/activity-depreciation.jpg" class="shapes card-img-top mx-auto" alt="...">
      <div class="card-body">
        <h5 class="card-title">Activity Depreciation Calculator</h5>
        <a class="btn btn-primary" href="/activity-depreciation-calculator" role="button">Activity Deprceiation!</a>
      </div>
    </div>
    <div onclick="location.href='/bid-ask-calculator';" class="card">
      <br/>
      <br/>
      <img src="/images/bid-ask-calculator.jpg" class="shapes card-img-top mx-auto" alt="...">
      <div class="card-body">
        <h5 class="card-title">Bid-Ask Calculator</h5>
        <a class="btn btn-primary" href="/bid-ask-calculator" role="button">Sales Calculator!</a>
    </div>
    </div>
  </div>
      <!-- Ninth Row -->
<div style = "text-align: center" class ="card-group">
  <!-- Add hover in the future -->
    <div onclick="location.href='/tip-calculator';" class="card">
      <br/>
        <img src="images/tip-calculator.jpg" class="card-img-top shapes mx-auto" alt="calculator">
      <div class="card-body">
        <h5 class="card-title">Tip Calculator</h5>
        <a class="btn btn-primary" href="/tip-calculator" role="button">Tip!</a>
    </div>
    </div>
    <div onclick="location.href='/activity-depreciation-calculator';" class="card">
      <br/>
      <img src="/images/activity-depreciation.jpg" class="shapes card-img-top mx-auto" alt="...">
      <div class="card-body">
        <h5 class="card-title">Activity Depreciation Calculator</h5>
        <a class="btn btn-primary" href="/activity-depreciation-calculator" role="button">Activity Deprceiation!</a>
      </div>
    </div>
    <div onclick="location.href='/bid-ask-calculator';" class="card">
      <br/>
      <br/>
      <img src="/images/bid-ask-calculator.jpg" class="shapes card-img-top mx-auto" alt="...">
      <div class="card-body">
        <h5 class="card-title">Bid-Ask Calculator</h5>
        <a class="btn btn-primary" href="/bid-ask-calculator" role="button">Sales Calculator!</a>
    </div>
    </div>
  </div>
<br/>
  <%- include("partials/footer") -%>