<%- include("partials/header") -%>
<style>
   section{
       text-align: center;
       width: auto;
       height: 500;
       padding: 20px;
   }
   
   #error{
       color: red;
   }
</style>
    <div>
       <section> 
           <center>
           </br>
        <h1>High School & College GPA Calculator</h1>
        <br/>
       <!-- Top inputs -->
        <form>
        <input type="text"    class = "btn-group" id="class" placeholder="Course Name"><br>
        <input type="number"  class = "btn-group"  id="grade" placeholder="Grade"><br>
        <input type="number"  class = "btn-group"  id="hours" placeholder="Credits">
        </form>
        <br/>
        <button class = "btn btn-primary calculate-group" onclick="addRecord()">Add a record</button><br>
    </br>
        <button class = "btn btn-danger" onclick="refreshElement()">Reset</button> 
        <p id="error"><p>
        <!-- Bottom table -->
        <table class="table table-striped fullTable d-none">
            <thead>
              <tr>
                <th scope="col">Class Name</th>
                <th scope="col">Credits</th>
                <th scope="col">Grade Percent</th>
                <th scope="col">Grade Letter</th>
                <th scope="col">GPA</th>
              </tr>
            </thead>
            <tbody>
        <!-- Class Names -->
        <tr>
            <td class="values" id="className"></td>
            <td class="values" id="creditHours"></td>        
            <td class="values" id="gradePercent"></td>
            <td class="values" id="gradeLetter"></td>
            <td class="values" id="gpa"></td>
            </tr>
            <!-- Grades -->
        <tr>
            <td class="totalValues">Total Marks</td>
            <td class="totalValues" id="totalCredits"></td>
            <td class="totalValues" id="total"></td>
            <td class="totalValues"></td>
            <td class="totalValues"></td>
        </tr>
        <!-- GPA -->
        <tr>
            <th scope="col">GPA</th>
            <td class="totalGpa" id="cgpa"></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
    </table>
    </center>
     </section>
    </div>
<div> 
<script>
// Grows dynamically
course=[];
mark =[];
chour=[];
tpoint=[];

function displayCourses(){
// Shows the total points of the classses
total = 0;
// Shows the total credits
totalcredits = 0;
// Calculates the GPA and sends everything
totalpoints = 0;

//These all reset when button clicked, without it the values would just stay

// Shows the class name in the table for the first one
className = "";
// Shows the credit hours of the class for the first one
creditHours = "";
// Shows the grade percent of the class for the first one
gradePercent = "";
// Shows the grade letter of the class for the first one
gradeLetter = "";
// Shows the gpa of the class
gpa = "";

for (i=0; i<course.length; i++){

//calculates the gpa 
tpoint[i]=(chour[i] * M2G(mark[i])[1]).toFixed(2);
// "\n" means new line

//shows the class name by using i
className = className + course[i] + "\n";
//shows the credit hours using chour
creditHours = creditHours + chour[i] + "\n";
//shows the grade percent using mark
gradePercent = gradePercent + mark[i] + "\n";
//shows the grade letter using mark with only the first value of the array
//this makes it only show the letter otherwise it would show the grade and the gpa
gradeLetter = gradeLetter + M2G(mark[i])[0] + "\n";
//shows the gpa using mark and the second value
gpa = gpa + M2G(mark[i])[1] + "\n";

//shows all the grade total
total = total + parseInt(mark[i]);
//shows the total credits
totalcredits = totalcredits + parseInt(chour[i]);
totalpoints = totalpoints + parseFloat(tpoint[i]);
}
document.getElementById("className").innerText=className;
document.getElementById("creditHours").innerText=creditHours;
document.getElementById("gradePercent").innerText=gradePercent;
document.getElementById("gradeLetter").innerText=gradeLetter;
document.getElementById("gpa").innerText=gpa;

document.getElementById("total").innerText=total;
document.getElementById("totalCredits").innerText=totalcredits;

document.getElementById("cgpa").innerText=(totalpoints/totalcredits).toFixed(2);


}

function refreshElement(){
	course=[];
    mark =[];
    chour=[];
    tpoint=[];
    displayCourses();
    
}
function elementObj(id){
	return (document.getElementById(id));
}
function addRecord(){
	if (validation() == true){
	classes = document.getElementById("class").value;
	grade = document.getElementById("grade").value;
	credits = document.getElementById("hours").value;
	course[course.length] = classes;
	mark[mark.length] = grade;
	chour[chour.length]= credits;
    }
    displayCourses();
}
function M2G(grade){
    
    getGrade = ""
    point = 0
    if(grade<=65){ 
        getGrade ="F";
        point=0;
    } else if(grade<=66){ 
        getGrade="D";
        point=1;
	} else if(grade<=69){ 
        getGrade="D+";
        point=1.3;
	} else if(grade<=72){ 
		getGrade="C-";
        point=1.7;
	} else if(grade<=76){ 
        getGrade="C"; 
        point=2;
	} else if(grade<=79){ 
        getGrade="C+";
        point=2.3;
	} else if(grade<=82){ 
        getGrade="B-";
        point=2.7;
	} else if(grade<=86) { 
        getGrade="B";
        point=3;
    } else if(grade<=89){ 
        getGrade="B+"; 
        point=3.3;
	} else if(grade<=92) { 
        getGrade="A-";
        point=3.7;
    } else if(grade <= 96){
        getGrade="A";
        point=4;
    } else if(grade<=100){
        getGrade="A+";
        point=4;
		}
    
	gradeTotals=[];
	gradeTotals[0]=getGrade;
	gradeTotals[1]=point;
	
    return gradeTotals;
}

function validation(){
    // Receive the grade and the credit
	studentmark = parseInt(document.getElementById("grade").value);
    coursecredit = parseInt(document.getElementById("hours").value);
    
    // Checks if there is an error 
    if(studentmark<=100 && studentmark>=0 && coursecredit>0){
    document.getElementById("error").innerText= "";
    return (true);
    } else{
    document.getElementById("error").innerText= "Please make sure you enter marks between 0 and 100 and credit hours 0 or above";
    }
}
</script>
</div> 
<%- include("partials/footer") -%>