<%- include("partials/header") -%>
<div style = "padding: 3%">
    <div>
    <center>
    <h1>Margin Calculator</h1>
    <br/>
    <input type="number" class="btn-group" placeholder = "Cost $" id="cost">
    <input type="number" class="btn-group" placeholder = "Revenue $" id="revenue">
    
    <button class = "btn btn-primary calculate-group" onClick = "marginCalculator()" id = "marginCalculator">Calculate</button>
    <br/>
    <button id = "error" type = "button" class = "btn btn-light border border-dark d-none"> Answer </button>
    </center>
    </div>
</div>
<div class ="w-auto">
    <center>
        <!-- First Table -->
<table class = "table table-bordered d-none">
    <thead class= "table-dark">
        <tr style = "text-align: center">
            <th scope="col">Gross Profit</th>
            <th scope="col">Markup</th>
            <th scope="col">Gross Margin</th>
        </tr>
    </thead>
    <tr style = "text-align: right">
        <td class = "gProfit"></td>
        <td class = "markup"></td>
        <td class = "gMargin"></td> 
    </tr>
</table>
</center>
</div>
<div>
<script>
    function marginCalculator(){
        var cost = $("#cost").val()
        var revenue = $("#revenue").val()

        var grossProfit = revenue - cost
        var markup = grossProfit / cost * 100
        var grossMargin = grossProfit / revenue * 100

        $(".gProfit").html("$" + Math.round(grossProfit * 100) / 100)
        $(".markup").html(Math.round(markup * 100) / 100 + "%")
        $(".gMargin").html("$" + Math.round(grossMargin * 100) / 100 + "%")

    if(cost <= 0 || revenue <= 0){
        $("#error").removeClass("d-none")
        $("#error").html("All values must be positive")
        $("table").removeClass("d-none")
        $("td").html("-")
    } else {
        $("#error").addClass("d-none")
        $("table").removeClass("d-none")
    }
}
</script>
</div>
<%- include("partials/footer") -%>